body{
    background-image: url('/public/dashboardbg.png') !important;
    display: block;
    background-size: cover;
    background-color: hsla(0, 0%, 90%, 0.5)
}
body > #root {
    width: 100%;
}
.dasboardContainer{
    width: 100%;
    display: flex;
    height: 100%;
}
.sidebar{
    width: 30%;
    border-right: 1px solid var(--color-white);
    height: 100vh;
    overflow: hidden;
}
.content{
    width: 70%;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .dasboardContainer{
    flex-direction: column;
  }
  .sidebar{
    width: 100%;
    height: auto;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
  }
  .section1{
    padding-left: 32px;
    width: calc((100% - 32px ) / 2);
  }
  .section2{
    padding-right: 32px;
    width: calc((100% - 32px ) / 2);
  }
  .content {
    width: 100%;
    padding-bottom: 250px;
  }
  .balance{
    width: auto;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .dasboardContainer{
    flex-direction: column;
    padding: 32px;
  }
  .sidebar{
    width: 100%;
    height: auto;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
    border-right: none;
  }
  .section1{
    padding-left: 32px;
    width: calc((100% - 32px ) / 2);
  }
  .section2{
    padding-right: 32px;
    width: calc((100% - 32px ) / 2);
  }
  .content {
    width: 100%;
    padding-bottom: 250px;
  }
  .balance{
    width: auto;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
    .dasboardContainer{
        padding: 0;
    }
    .sidebar{
        border-right: none;
    }
    .section1{
        width: 100%;
        padding-left: 0;
    }
  .section2{
    display: none;
  }
  .balance{
    margin: 0 auto;
    width: 80%;
  }
}


