.logoutModal {
  min-height: auto;
  color: var(--color-white);
  gap: 40px;
}

.logoutModal p {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.5;
}

.confirmGroup {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 280px;
}

.confirmBtn,
.cancelBtn {
  width: 100%;
  height: 50px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-family: var(--font-sans);
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  box-shadow: 1px 9px 15px 0px rgba(0, 0, 0, 0.2);
}

.confirmBtn:hover,
.cancelBtn:hover {
  transform: translateY(-1px);
}

.confirmBtn {
  background: linear-gradient(to right, #ffc727, #9e40ba, #7000ff);
  color: var(--color-white);
}

.cancelBtn {
  background: var(--color-white);
  color: var(--color-primary);
}

@media screen and (max-width: 767.98px) {
  .logoutModal {
    justify-content: center;
  }
}
